# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Django specific
*.log
*.pot
media/
static/
local_settings.py
db.sqlite3

# OS or Editor files
.DS_Store
*.swp
*.swo
.vscode/